body { background-color: #FFFFFF;
       background-image: url(background.jpg);
       color: #666666;
	     font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 80%;
           min-width: 700px;
		       max-width: 1024px;
           margin-right: auto;
		       margin-left: auto;
		       background-color: #90c7e3;
		       box-shadow: 3px 3px 3px #666666;
}
header { background-color: #000033;
         color: #FFFFFF;
	       font-family: Georgia, serif;
				 display: block;
}
h1 { line-height: 200%;
     background-image: url(sunset.jpg);
	   background-repeat: no-repeat;
	   background-position: right;
	   padding-left: 20px; 
	   height: 72px;
	   margin-bottom: 0;
}
nav { font-weight: bold;
	    padding: 5px;
			float: left;
			padding-top: 20px 5px 20px;
			display: block;
}
h2 { color: #3399CC;
     font-family: Georgia, serif;
}
dt { color: #000033;
     font-weight: bold; 
}
.resort { color: #000033;
          font-size: 1.2em;
}
footer { font-size: 0.70em;
         text-align: center;
	       font-style: italic;
	       padding: 10px;
				 background-color: #ffffff;
				 margin-left: 170px;
				 display: block;
}
h3 { color: #000033; 
}
main { padding-left: 20px;
       padding-right: 20px;
			 background-color: #ffffff;
			 margin-left: 170px;
			 padding-top: 1px;
			 padding-bottom: 1px;
			 display: block;
}

nav a: {text-decoration: none;}

nav a:link {color: #000033;}

nav a:visited {color: #344873;}

nav a:hover {color: #FFFFFF;}

nav ul {list-style-type: none;
				margin: 0;
				padding-left: 0;}
				
main img {float: left;
					padding-right: 20px;
					padding-bottom: 20px;}
					
main ul {list-style-position: inside;}

.clear {clear: all;}
